<tr id ='activity_<%=activity.id %>' class="<%= cycle('odd','even') %>">
  <td>
	<div style="margin-left:-30px">
	<% if !activity.is_submitted? && !activity.is_approved? %>
      <span class="label label-warning">Not Submitted</span>
    <% elsif activity.is_submitted? && activity.is_approved == nil %>
      <span class="label label-success">Submitted</span>
    <% elsif activity.is_approved? %>
      <span class="label label-info">Approved</span>
    <% end %>
      
    <% if activity.is_overtime == 1 %>
	    <span class="label label-important">Overtime</span>
	<% else %>
	    <span class="label label-inverse">Standard</span>
	<% end %>
    &nbsp;&nbsp;<%= activity.start_time.strftime('%l:%M:%S %p').downcase if !activity.start_time.nil? %>
	</div>
  </td>

  <td><%= activity.end_time.strftime('%l:%M:%S %p').downcase if !activity.end_time.nil? %></td>
  <td><%= activity.activity.name if !activity.activity_id.nil? %></td> 

  <td><%= activity.specific_activity.name if !activity.specific_activity_id.nil? %></td> 
  <td>

  <% if !activity.total_time.nil? %>	
    <%= activity.total_time.strftime("%H:%M:%S") %></td>
  <% else %>
    <td><span>&nbsp;</span></td>
  <% end %>

  <% if activity.is_overtime == 1 %>
     <td><div class='handle'>
	  <span class="label label-inverse">
	  <%= link_to 'ST', update_is_not_overtime_url(activity) %>
	  </span>
	</div></td>
  <% elsif !activity.end_time.nil?   %>
     <td><div class='handle'>
	   <span class="label label-important">
	   <%= link_to 'OT', update_is_overtime_url(activity) %>
	   </span>
	</div></td>
  <% end %>  
  </td>
  </tr>
