<div id ="form_time_div">	
	<% if @activities.count != 0 && @unfinished_activity.nil? %>
	<div id ="inside-left">
	<div id="left_long_small">
	  <%= label :people, "Select People who will receive notification." %>  	
	</div>		
  	<div id ="right">
	  <%= check_box_tag :name, "", :value => true %><span> Select All</span>
	</div>
    <div id='right'>
		  	<%= form_tag submit_activities_person_times_url,:method => :put do %>
			     <% for activity in @activities %>
			     <%= hidden_field_tag("activities[]",activity.id) %>
			     <% end %>
			    <%= submit_tag "Submit activities today" ,:class => 'btn btn-primary' %>		
			  <% end %>	
	</div>
	</div>
	<%= render :partial => "time_summaries"%>
	
	<% elsif @activities.count != 0 && !@unfinished_activity.nil? %>  	
	<div id ="inside-left">
	  <%= form_tag update_activity_person_times_url,:class => 'form-horizontal',:method => :put do %>     
       <fieldset>
	     <div style ='margin-left:-40px'> 
	       <div id="label_text_holder">
			 <div style='margin-left:10px;margin-bottom:5px;'>
		     <em>end current activity</em>
			 </div>
	         <div id ="left"><%= label :start_time, "Start Time" %></div>
	         <div id="right_with_bg"><%= label :start_time, @unfinished_activity.start_time.strftime('%l:%M:%S %p') %></div>
	         <div id="left"><%= label :activity_id, "Activity" %></div>
             <div id="right"><%= select_tag('activity_id',	options_from_collection_for_select(options_for_activity(current_user.department_id), :id, :name)) %></div>

	           <div id="left"><%= label :specific_activity_id, "Specific Activity" %></div> 
	           <div id="right"><%= select_tag("specific_activity_id", option_groups_from_collection_for_select(options_for_activity(current_user.department_id),:specific_activities,:name, :id, :description)) %> <%= hidden_field_tag(:person_time_id, @unfinished_activity.id) %></div></div><br/>
			 <div style="margin-left:40px;margin-bottom:-10px;float:left;margin-top:10px">
				<%= submit_tag "End Current Activity", :class => 'btn btn-primary' %>
			  </div>	


	  <% end %>
	 </div></div>
	 <%= render :partial => "time_summaries" %>
	<% else %>
		<div id ="inside-left">
		  <div id = "right">
		    <%= label :message, "No Results found" %>
		  </div>	
		</div>	
	<% end %>	
	
</div></div>